@model FinalProject.ViewModels.CreateMedicineViewModel

@{
    ViewBag.Title = "EditMedicine";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row main-header">
        <h1 class="mx-auto text-color-primary">
            تعديل دواء
        </h1>
    </div>

    <div class="main-form pt-4 text-center">

        <div class="form-group mx-auto round-this col-lg-5 col-md-6 px-0">
            @Html.DropDownListFor(model => model.Medicine.MedicineTypeId, new SelectList(Model.MedicineTypes, "MedicineTypeId", "MedicineTypeName"), "نوع الدواء", htmlAttributes: new { @class = "form-control round-this shadow" })
            @Html.ValidationMessageFor(model => model.Medicine.NameAR, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <div>
                @Html.EditorFor(model => model.Medicine.NameAR, new { htmlAttributes = new { @class = "form-control round-this shadow placeholder-center", placeholder = "الاسم بالعربي" } })
                @Html.ValidationMessageFor(model => model.Medicine.NameAR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <div>
                @Html.EditorFor(model => model.Medicine.NameEN, new { htmlAttributes = new { @class = "form-control round-this shadow placeholder-center", placeholder = "الاسم بالانجليزي" } })
                @Html.ValidationMessageFor(model => model.Medicine.NameEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <label>متاح</label>
            <div>
                @Html.EditorFor(model => model.Medicine.IsActiveMedicine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Medicine.IsActiveMedicine, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <input type="submit" value="حفظ البيانات" class="btn background-color-primary mx-auto col-lg-5 col-md-6 shadow mx-auto" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
