@model FinalProject.DTOs.ClinicOnlyDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}


@using (Html.BeginForm("Create", "Clinics", FormMethod.Post, new { @class = "top-25" }))
{
    @Html.AntiForgeryToken()

    <h4 class="text-color-primary">معلومات العيادة</h4>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.ClinicName, new { htmlAttributes = new { @class = "form-control", @placeholder = "اسم العيادة*" } })
            @Html.ValidationMessageFor(model => model.ClinicName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.ClinicPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "رقم الهاتف" } })
            @Html.ValidationMessageFor(model => model.ClinicPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.ClinicEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "البريد الإلكتروني" } })
            @Html.ValidationMessageFor(model => model.ClinicEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            <span>صورة عن الشهادة</span>
            <input id="file" type="file" accept=".png,.jpg" max-size="10" class="btn btn-default round-this" />
            @*ToDo*@
            @*limit File Size*@
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            <input type="submit" value="إرسال طلب تسجيل" class="btn background-color-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
