@model FinalProject.ViewModels.CreateClinicViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}


@using (Html.BeginForm("Create", "Clinics", FormMethod.Post, new { @class = "top-padding", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4 class="text-color-primary">معلومات العيادة</h4>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.Clinic.ClinicName, new { htmlAttributes = new { @class = "form-control round-this shadow", @placeholder = "اسم العيادة*" } })
            @Html.ValidationMessageFor(model => model.Clinic.ClinicName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.DropDownListFor(model => model.Clinic.ClinicTypeId , new SelectList(Model.Clinics, "ClinicTypeId", "ClinicTypeName"), "Select Type", new { @class = "form-control round-this shadow" })
            @Html.ValidationMessageFor(model => model.Clinic.ClinicName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.Clinic.ClinicPhone, new { htmlAttributes = new { @class = "form-control round-this shadow", @placeholder = "رقم الهاتف" } })
            @Html.ValidationMessageFor(model => model.Clinic.ClinicPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            @Html.EditorFor(model => model.Clinic.ClinicEmail, new { htmlAttributes = new { @class = "form-control round-this shadow", @placeholder = "البريد الإلكتروني" } })
            @Html.ValidationMessageFor(model => model.Clinic.ClinicEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            <small>صورة عن الشهادة</small>
            <input id="Certificate" type="file" name="Certificate" accept=".png" class="btn btn-default round-this" required/>
            @*ToDo*@
            @*limit File Size*@
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-lg-5 col-md-6">
            <input type="submit" value="إرسال طلب تسجيل" class="btn background-color-primary" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
