@model FinalProject.ViewModels.LocationViewModel

@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Clinic.cshtml";
}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row w-100 mx-auto px-2 top-padding">
        <div class="col-md-6">
            <div id='map'></div>
        </div>
        <div class="main-form px-3 pt-4 col-md-6 h-100">
            <div class="row">
                <h2 class="text-color-primary mx-auto">Location</h2>
            </div>

            <div class="form-group mx-auto round-this col-lg-5 col-md-6 px-0">
                @Html.DropDownListFor(model => model.Location.CityId, new SelectList(Model.Cities, "CityId", "CityName"), "Select City", new { @class = "form-control round-this m-1 shadow" })

                @Html.ValidationMessageFor(model => model.Location.CityId, "", new { @class = "text-danger" })
            </div>


            <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
                <div>
                    @Html.EditorFor(model => model.Location.Area, new { htmlAttributes = new { @class = "form-control shadow", @placeholder = "منطقة" } })
                    @Html.ValidationMessageFor(model => model.Location.Area, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
                <div>
                    @Html.EditorFor(model => model.Location.Street, new { htmlAttributes = new { @class = "form-control shadow", @placeholder = "شارع" } })
                    @Html.ValidationMessageFor(model => model.Location.Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
                <input type="number" id="lat" name="Langtude" readonly class="form-control" required />
                <input type="number" id="lng" name="langitude" readonly class="form-control" required />
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <input type="submit" value="إضافة يوم" class="btn background-color-primary mx-auto col-lg-5 col-md-6 shadow mx-auto" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFobTAwZG1haG0wMGQiLCJhIjoiY2ttNDFzNGR2MDBiejJ5a25keGIzbjY4ayJ9.lgZoHTS0M2JG-O33RWxcWA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [//Damascus
                36.295467,
                33.499925
            ],
            zoom: 12
        });

        //// Create a default Marker and add it to the map.
        //var marker1 = new mapboxgl.Marker()
        //    .setLngLat([
        //        36.295467,
        //        33.499925
        //    ])
        //    .addTo(map);

        var marker = new mapboxgl.Marker();

        function add_marker(event) {
            var coordinates = event.lngLat;
            console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
            marker.setLngLat(coordinates).addTo(map);
            document.getElementById("lat").value = coordinates.lat;
            document.getElementById("lng").value = coordinates.lng;

        }

        map.on('click', add_marker);
    </script>
}
