@model FinalProject.DTOs.EditPasswordDTO

@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_Managment.cshtml";
}


@using (Html.BeginForm("EditPassword", "Accounts", FormMethod.Post, new { @class = "main-login-form" }))
{
    <div class="row">
        <p class="mx-auto ">
            كلمة المرور
        </p>
    </div>

    <div class="main-form pt-4 text-center">

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <div>
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "كلمة المرور القديمة", @type = "password" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger mx-atuo" })
            </div>
        </div>

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <div>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "كلمة المرور الجديدة", @type = "password" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger mx-auto" })
            </div>
        </div>

        <div class="form-group mx-auto round-this col-lg-5 col-md-6  px-0">
            <div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "تأكيد كلمة المرور", @type = "password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger mx-auto" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <input type="submit" value="حفظ التغيرات" class="btn background-color-primary mx-auto col-lg-5 col-md-6 shadow mx-auto" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

